body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
}
.App {
  text-align: center;
}
.searchform {
	display:block;
	width: 80%;
	max-width: 1024px;
	text-align: left;
	margin:20px auto;
	height: 34px;
}
.searchinput {
	display:inline-block;
	vertical-align:middle;
	width: 50%;
	max-width:400px;
	margin-left:20px;
	padding:6px 12px;
	font-size:16px;
	border-radius:5px
}
.searchbutton {
	display:inline-block;
	vertical-align:middle;
	padding:5px 20px;
	background: #ff0040;
	border-radius:50px;
	color:#fff;
	cursor:pointer;
	font-size:16px;
	font-weight:bold;
	margin-left:10px;
}
.searchresults {
	width: 100%;
	height: calc(100% - 121px);
	position: absolute;
	overflow: auto;
	border-top: 1px solid;
}
.resultsrow {
	display:block;
	width: 80%;
	max-width: 1024px;
	border-bottom: 1px solid #ddd;
	text-align: left;
	margin:auto;
	cursor:pointer;
	position:relative;
}
.resultsrow:hover {
	background:#f0f0f0;
}
.noimage {
	display:inline-block;
	margin:10px;
	width:100px;
	height:130px;
	vertical-align:top;
	background:#eee;
}
.resultsrow img {
	display:inline-block;
	margin:10px;
	width:100px;
	height:130px;
	vertical-align:top;
}
.resultsrow-right {
	display:inline-block;
	vertical-align:top;
	margin:10px;
	width: calc(100% - 150px);
}
.resultsrow-title {
	display:block;
	font-size:16px;
	font-weight:bold;
}
.resultsrow-title em {
	font-style: normal;
	display: block;
}
.resultsrow-year {
	display:block;
	font-size:12px;
	color:#999;
}
.resultsrow-year em {
	font-style: normal;
	display: block;
}
.resultsrow-imdbID {
	display:block;
	font-size:11px;
	color:#999;
}
.resultsrow-imdbID em {
	font-style: normal;
	display: block;
}
.like {
	position: absolute;
	display:inline-block;
  bottom: 15px;
  left:130px;
  padding: 5px 20px;
  border: 2px solid #ff0040;
  color: #ff0040;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.like:hover {
  color: #fff;
  background: #ff0040;
}
.liked {
	position: absolute;
	display:inline-block;
  bottom: 15px;
  left:130px;
  padding: 5px 20px;
  border: 2px solid #ff0040;
  color: #fff;
  background: #ff0040;
  border-radius: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
.filmdetails {
	display:block;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
}
.filmdetailsclose {
	display:block;
	position:absolute;
	top:10px;
	right:25px;
	cursor:pointer;
	font-size:40px;
	color:#fff;
}
.filmdetailsclose:hover {
	color:#ddd;
}
.filmdetailscontainer {
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:80%;
	background:#fff;
	border-radius:20px;
	text-align: left;
	padding: 20px;
	max-width: 800px;
}
.filmdetailsheader {
	display:block;
}
.filmdetailsposternoimage {
	display:inline-block;
	margin:10px;
	width:200px;
	height:260px;
	vertical-align:top;
	background:#eee;
}
.filmdetailsheader img {
	display:inline-block;
	margin:10px;
	width:200px;
	height:260px;
	vertical-align:top;
}
.filmdetailsheaderright {
	display:inline-block;
	vertical-align:top;
	margin:10px;
	width: calc(100% - 240px);
}
.filmdetails-title {
	display:block;
	font-size:18px;
	font-weight:bold;
}
.filmdetails-year {
	display:block;
	font-size:16px;
	color:#999;
}
.filmdetails-data {
	display:block;
	font-size:14px;
	color:#999;
}
